* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-color: #fff2e3;
  --primary-color: #3d527d;
  --secondary-color: #f1571a;
  --background-color: #212121;
}

body {
  background-color: var(--font-color);
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--background-color);

  ol {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .active-tab {
      color: var(--secondary-color);
    }

    li {
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 2px solid transparent;
      color: var(--font-color);
    }
    li:hover {
      cursor: pointer;
      border-bottom: 2px solid var(--secondary-color);
    }
  }
}

header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  align-items: center;

  section {
    a {
      padding: 0.8rem 2rem;
      border-radius: 1rem 0 1rem 0;
      color: var(--background-color);
      background-color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      display: block;
      width: fit-content;
      transition: all 0.3s;
    }
    a:hover {
      background-color: #9c3b14;
    }

    h1 {
      color: var(--font-color);
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
    }

    h2 {
      color: var(--secondary-color);
    }

    .slogan {
      color: var(--font-color);
      padding: 1rem 0;
      max-width: 600px;
    }

    .when-where {
      display: flex;
      flex-wrap: wrap;

      gap: 1rem;
      right: 0;
      margin: 2.5rem 0;

      p {
        padding-right: 1.5rem;
        font-size: 1.3rem;
        width: fit-content;
        color: var(--font-color);
        font-weight: bold;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }

  .img-border {
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem 0 1rem 0;

    img {
      object-fit: cover;
      max-height: 400px;
      border-radius: 1rem 0 1rem 0;
      max-width: 100%;
    }
  }
}

.home-page {
  .container {
    color: var(--background-color);

    img {
      width: 100%;
    }

    div {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.lineUp-page {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0.5rem;
  }

  .lineUp-list {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;

    section {
      display: flex;
      flex-direction: column;
      width: fit-content;
      gap: 1rem;
      border: 2px solid var(--background-color);
      padding: 1.5rem;
      background-color: var(--background-color);
      color: var(--font-color);
      border: 5px solid var(--secondary-color);
      box-shadow: 2px 4px 12px #0000007a;

      img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border: 2px solid var(--secondary-color);
      }

      p {
        width: 250px;
      }
    }
  }
}

.program-page {
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1.5rem;

    .program-day {
      div {
        background-color: var(--secondary-color);
        padding: 1rem;
        position: sticky;
        top: 0;

        h2 {
          text-transform: uppercase;
        }
      }

      .schedule {
        padding: 1rem;
        display: grid;
        gap: 5px;
        border-bottom: 1px solid var(--background-color);

        .time {
          color: var(--secondary-color);
          width: fit-content;
          white-space: nowrap;
        }

        .title,
        .lunch {
          font-weight: bold;
        }

        .talkers-name {
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;

  :hover {
    scale: 1.1;
  }
}

.ticket-page {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
  padding: 1rem;

  .ticket-choice {
    display: grid;
    gap: 1rem;

    .middle {
      border-bottom: 2px solid var(--background-color);
      border-top: 2px solid var(--background-color);
      padding: 1rem 0;
    }

    .ticket-container {
      max-width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 0.5rem 1.8rem;
        border-radius: 1rem 0 1rem 0;
        color: var(--font-color);
        background-color: var(--secondary-color);
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        width: fit-content;
        transition: all 0.3s;
      }
      a:hover {
        background-color: #9c3b14;
      }
    }
  }

  .ticket-info {
    display: grid;
    gap: 1rem;

    ul {
      display: grid;
      gap: 0.5rem;
      padding-left: 1rem;
    }
  }
}

.form-menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  a {
    padding: 0.8rem 2rem;
    border-radius: 1rem 0 1rem 0;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    text-transform: uppercase;
  }
  a:hover {
    scale: 1.1;
  }

  .progression-bar {
  }
}

.form-page {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 5rem 0;

  form {
    box-shadow: 2px 4px 12px #00000040;
    background-color: var(--font-color);
    border-radius: 5px;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .top-text {
      display: flex;
      flex-direction: column;
    }

    input,
    select {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border: none;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}

footer {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 1rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  form {
    display: grid;
    gap: 1rem;

    .input-button-newsletter {
      border: 2px solid var(--font-color);
      width: fit-content;
      display: flex;

      input {
        border: none;
        padding: 0 1rem;
        background: #fff2e3;
      }

      button {
        border: none;
        background-color: var(--secondary-color);
        color: var(--font-color);
        padding: 0.8rem 1.8rem;
        white-space: nowrap;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.3s;
      }
      button:hover {
        cursor: pointer;
        background-color: #9c3b14;
      }
    }
  }

  .contact-us {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 0;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .social-media {
    cursor: pointer;

    svg:hover {
      path {
        transition: all 0.3s;
        fill: var(--font-color);
      }
    }
  }
}

@media (max-width: 370px) {
  .lineUp-page {
    h1 {
      font-size: 2.5rem;
    }
  }

  footer {
    padding: 1rem 0.5rem 5rem;

    form {
      .input-button-newsletter {
        input {
          padding: 0 0.5rem;
        }

        button {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .menu {
    align-items: center;

    ol {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  header {
    padding-bottom: 4rem;
  }

  .back-to-top {
    bottom: 1rem;
    right: 1rem;
  }

  .ticket-page {
    padding: 3rem;
  }

  footer {
    padding: 3rem 3rem 6rem;
    flex-direction: row;
    align-items: end;

    form {
      p {
        max-width: 400px;
      }

      .input-button-newsletter {
        input {
          width: 300px;
        }
      }
    }

    .contact-us {
      padding: 0;
    }
  }
}

@media (min-width: 1000px) {
  .menu {
    padding: 1rem 3rem;
  }

  .home-page {
    display: flex;
    justify-content: center;

    .container {
      display: grid;
      grid-template-columns: 500px 500px;
      align-items: center;
      margin: 5rem 0;
      width: fit-content;
      background-color: var(--background-color);
      color: var(--font-color);

      img {
        height: 500px;
        object-fit: cover;
      }

      .grid-position {
        grid-column: 2;
      }

      .grid-position-2 {
        grid-row-start: 2;
      }

      div {
        height: 100%;
        justify-content: center;
        padding: 0 3rem;
      }
    }
  }

  .ticket-page {
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 3rem;

    h1 {
      grid-column: span 2;
    }
  }
}
